* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: #ffffff;
    width: 700px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-weight: 600;
}

.computer,
.pemain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer img,
.pemain img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.pemain img:hover {
    transform: scale(1.5);
}

#hasil {
    background: #e2f3f5;
    border: 2px solid #c3e6e9;
    border-radius: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #007b83;
    text-transform: uppercase;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

ul li {
    display: inline-block;
}